<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css" />
</head>
<body>

<div class="container" id="app" v-cloak>
    <div class="card">
        <h1>План по изучению Vue.js</h1>

        <div class="steps">
            <div class="steps-content">
                {{ title }}
            </div>
            <ul class="steps-list">
                <li
                    v-for="(step) in steps"
                    class="steps-item"
                    :class="[ step.node ]"
                >
                    <span @click="setActive(step.id)">{{ step.id }}</span> {{ step.title }}
                </li>
            </ul>
            <div>
                <button
                        @click="prev(activeIndex, true)"
                        class="btn"
                        v-bind:disabled='isDisabled'
                >Назад</button>
                <button v-if="endButtonShow" @click="reset()" class="btn primary">Закончить</button>
                <button v-else @click="nextOfFinish()" class="btn primary">Вперед</button>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="vue.js"></script>
</body>
</html>
